@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
// ## Colors
// ### Primary
$DesaturatedRed: hsl(0, 36%, 70%);
$DesaturatedRedSadow: hsla(0, 36%, 70%, 0.3);

$SoftRed: hsl(0, 93%, 68%);

// ### Neutral
$DarkGrayishRed: hsl(0, 6%, 24%);

// ### Gradients
// - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
$gradientOne: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradientTwo: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  max-width: 376px;
  height: 100vh;
  color: $DesaturatedRed;
}

.header {
  padding: 28px 30px;
}
#logo {
  height: 20px;
}
h1 {
  margin: 66px 80px 25px 66px;
  font-size: 1.875rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 12px;
  line-height: 2.5rem;
  span {
    color: $DarkGrayishRed;
    font-weight: 600;
  }
}
.content,
form {
  padding: 0 1.875rem 36px 1.875rem;
}

p {
  text-align: center;
  line-height: 1.375rem;
}
form {
  position: relative;
  width: 80%;
}
#email {
  width: 90%;
  height: 2.812rem;
  border: 1px solid $DesaturatedRed;
  border-radius: 25px;
  padding-left: 1.375rem;
}
#submit {
  position: absolute;
  cursor: pointer;
  width: 4rem;
  height: 3rem;
  border-radius: 25px;
  border-style: none;
  margin-left: -50px;
  background: $gradientTwo;
  box-shadow: 0px 7px 10px 5px ($DesaturatedRedSadow);
}
::placeholder {
  color: $DesaturatedRed;
}

// <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
